.select-block{
	position: relative;


}

.select-block::after{
	width: calc(100% - 3.2rem);
	height: 2px;
	content: '';
	background: var(--color-input-background);
	position: absolute;
	left: 1.6rem;
	right: 1.6rem;
	bottom: 2px;

}

/*Border appear when the select is in focus*/
.select-block:focus-within::after{
	background: var(--color-primary-light);
	bottom: 0;
} 

.select-block + .select-block{
	margin-top: 1.4rem;
}

.select-block label{
	font-size: 1.4rem;
}

.select-block select{
	width: 100%;
	height: 5.6rem;
	margin-top: 0.8rem;
	border-radius: 0.8rem;
	background: var(--color-input-background);
	border: 1px solid var(--color-line-in-white);
	outline: 0;
	padding: 0 1.6rem;
	font: 1.6rem Archivo;
}



/* Border to appear when the select is in focus
.select-block:focus-within select{
	border-bottom: 2px solid var(--color-primary-light);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
} */